<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlsv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuanLyGioGiang"
            android:label="Quản lý giờ giảng"
            ></activity>
        <activity
            android:name=".TheoDoiHDD"
            android:label="Theo dõi hoạt động dạy" />
        <activity
            android:name=".ThanhTra_KiemTra"
            android:label="Thanh tra kiểm tra" />
        <activity
            android:name=".ThongKeGiangDay"
            android:label="Thống kê giảng dạy" />
        <activity
            android:name=".HocPhanGiangDayActivity"
            android:label="Học phần giảng dạy" />
        <activity
            android:name=".LichBieuActivity"
            android:label="Lịch biểu cá nhân" />
        <activity
            android:name=".DiemDanhActivity"
            android:label="Điểm danh" />
        <activity
            android:name=".UserActivity"
            android:label="Tài khoản" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>